<script>
    $(document).ready(function(){
        $('#update_btn').click(function(){
            $('#detail_form').attr(
                {
                    'enctype': 'multipart/form-data',
                    'action':'[[@{/item/updateimpl}]]',
                    'method':'post'
                }
            );
            $('#detail_form').submit();
        });

        $('#delete_btn').click(function(){
            id = $('#id').val();
            var c = confirm('삭제하시겠습니까?');
            if(c == true) {
                location.href='/item/deleteimpl?id='+id;
            }
        });
    });

</script>
<div class="container">
    <div class="col-sm-5">
        <h2>Item Detail</h2>
        <form id="detail_form">
            <div class="form-group">
                <label for="id">ID:</label>
                <input type="text" class="form-control" id="id" th:value="${ditem.id}" name="id" readonly>
            </div>
            <div class="form-group">
                <label for="name">NAME:</label>
                <input type="text" class="form-control" id="name" th:value="${ditem.name}" name="name">
            </div>
            <div class="form-group">
                <label for="price">PRICE:</label>
                <input type="number" class="form-control" id="price" th:value="${ditem.price}" name="price">
            </div>
            <div class="form-group">
                <label for="before_img">BEFORE IMG:</label>
                <img class="item_img" th:src="@{|/img/${ditem.imgname}|}">
                <input type="hidden" id="before_img" name="imgname" th:value="${ditem.imgname}">
            </div>
            <div class="form-group">
                <label for="img">NEW IMG:</label>
                <input type="file" class="form-control" id="img" placeholder="Enter Image" name="img">
            </div>
            <div class="form-group">
                <label for="rdate">RDATE:</label>
                <input type="text" class="form-control" id="rdate" th:value="${ditem.rdate}" readonly>
            </div>
        </form>
        <button id="update_btn" class="btn btn-default">UPDATE</button>
        <button id="delete_btn" class="btn btn-default">DELETE</button>
    </div>
</div>